asyncpraw>=7.7.1
boto3>=1.34.78
botocore>=1.34.78
discord.py==2.3.2
ffmpeg>=1.4
Flask==3.0.2
pyowm>=3.3.0
playwright
python-dotenv>=1.0.1
twilio>=9.0.4
wolframalpha>=5.0.0
yt_dlp>=2025.4.30
discord.py[voice]